In [8]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model

In [7]:
df1 = pd.read_csv('train_unprocessed_data.csv')
df1

   Area  Bedrooms  Age   Price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [3]:
#Before going to build the model for the above data set we need to pre-process it and fill the null
#Here I am gonna fill the missing value with the median of bedrooms.
median_bedrooms =  df1.Bedrooms.median()
median_bedrooms

3.5

In [4]:
#Inorder to convert the float value into integer
import math
median_bedrooms = math.floor(median_bedrooms)
median_bedrooms

3

In [12]:
#Now update the medium value into the data frame df1
df1.Bedrooms = df1.Bedrooms.fillna(median_bedrooms)
df1

   Area  Bedrooms  Age   Price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [6]:
#Create the .csv file with the updated values
df1.to_csv('train_processed_data.csv')

In [14]:
#Create linear model object
lm = linear_model.LinearRegression()
lm.fit(df1[['Area','Bedrooms','Age']], df1.Price)

LinearRegression()

In [15]:
lm.coef_

array([   137.25, -26025.  ,  -6825.  ])

In [16]:
lm.intercept_

383725.00000000006

In [21]:
#Test the model by giving some input values to predict the output
lm.predict([[3000,3.0,40]])

array([444400.])